.movieCard_media {
  height: 500px;
  object-fit: contain;
  transition: transform 0.5s ease-in-out;
}

.movieCard_content {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.movieCard_overview {
  height: 400px;
  overflow-y: scroll;
}

.movieCard_overview::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.movieCard_overview {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
